# exclude extraneous files
.idea/
UA/
fragments/
UnreliableAssignmentFragments/
fragments_10000_normal/
fragments_10000_uniform/
*.pyc
*.png
*.txt
*.csv
*.log
*.err
Job.py
Simulation.py
SimulationGui.py
mplTest.py
